<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Dating app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/member-list']" >Member list</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/lists']">Lists</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/messages']">Messages</a>
        </li>
      </ul>
      <ul *ngIf="loggedIn()" class="navbar-nav ml-auto">
        <span class="mr-2">
          <img src="{{photoUrl || '../../../assets/user.png'}}" alt="">
        </span>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" (click)="false" id="navbarDropdown" 
            role="button" dropdownToggle>            
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="['/member/edit']">Edit profile</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
      <form *ngIf="!loggedIn()" class="form-inline mt-2 mt-md-0" #loginForm="ngForm" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" #username="ngModel" name="username" [(ngModel)]="model.username" required placeholder="Login" aria-label="Login">
        <input class="form-control mr-sm-2" type="password" #password="ngModel" name="password" [(ngModel)]="model.password" required placeholder="Password" aria-label="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" [disabled]="!loginForm.valid" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>