<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your profile</h1>
    </div>
    <div class="col-sm-8">
      <div class="alert alert-info" *ngIf="editForm.dirty">
        <strong>Warning</strong> Data has not been saved.
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{photoUrl || '../../../assets/user.png'}}" alt="{{user?.knownAs}}">
          <div class="card-body">
            <strong>Location:</strong>
            <p>{{user?.city}}, {{user?.country}}</p>
            <strong>Age:</strong>
            <p>{{user?.age}}</p>
            <strong>Last activate:</strong>
            <p>{{user?.lastActive | timeAgo}}</p>
            <strong>Member since:</strong>
            <p>{{user?.created | date: 'dd-MM-yyyy'}}</p>
          </div>
          <div class="card-footer">
              <button form="editForm" [disabled]="!editForm.dirty" class="btn btn-success btn-block">Save changes</button>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset>
            <tab heading="Edit profile">
              <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                <h4>Description</h4>
                <textarea name="introduction" rows="7" class="form-control" [(ngModel)]="user.introduction"></textarea>
                <h4>Looking for</h4>
                <textarea name="lookingFor" rows="7" class="form-control" [(ngModel)]="user.lookingFor"></textarea>
                <h4>Interests</h4>
                <textarea name="interests" rows="7" class="form-control" [(ngModel)]="user.interests"></textarea>
                <div class="form-inline">
                  <label for="city">City</label>
                  <input type="text" class="form-control" name="city" [(ngModel)]="user.city" />
                  <label for="country">Country</label>
                  <input type="text" class="form-control" name="country" [(ngModel)]="user.country" />
                </div>
              </form>
            </tab>
            <tab heading="Edit photos">
              <app-photo-editor [photos]="user.photos" (getMainPhotoChange)="updateMainPhoto($event)"></app-photo-editor>    
            </tab>
          </tabset>
        </div>
      </div>
  </div>  
</div>