<div class="text-center mt-3">
    <h3>Your matches {{pagination.totalItems}} found</h3>
</div>

<div class="container mt-3">
    <div class="row">
        <form class="form-inline mb-3" novalidate #form="ngForm" (ngSubmit)="loadUsers()">
            <div class="form-group">
                <label for="minAge">Age min:</label>
                <input type="number" class="form-control" style="width: 95px;" name="minAge" id="minAge" [(ngModel)]="userParams.minAge">
            </div>
            <div class="form-group px-3">
                <label for="maxAge">Age max:</label>
                <input type="number" class="form-control" style="width: 95px;" name="maxAge" id="maxAge" [(ngModel)]="userParams.maxAge">
            </div>
            <div class="form-group px-3">
                <label for="gender">Gender:</label>
                <select class="form-control" style="width: 105px;" name="gender" id="gender" [(ngModel)]="userParams.gender">
                    <option *ngFor="let gender of genderList" [value]="gender.value">
                        {{gender.display}}
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Apply filters</button>
            <button type="button" class="btn btn-info ml-1" (click)="resetFilters()">Reset filters</button>
        </form>
        <br />
        <div class="col">
            <div class="btn-group float-right">
                <label class="btn btn-primary" name="orderBy" btnRadio="lastActive"
                    [(ngModel)]="userParams.orderBy" (click)="loadUsers()" role="button">Last Active</label>
                <label class="btn btn-primary" name="orderBy" btnRadio="created"
                    [(ngModel)]="userParams.orderBy" (click)="loadUsers()" role="button">Created</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
            <app-member-card [user]="user"></app-member-card>
        </div>
    </div>  
</div>

<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [(ngModel)]="pagination.currentPage"
                [itemsPerPage]="pagination.pageSize"
                (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>
