<div class="text-center mt-3">
  <h3>{{likeParams === 'Likers' ? 'Members who likes me:' : 'Members who I\'ve liked:'}} {{pagination.totalItems}}</h3>
</div>

<div class="container mt-3">
  <div class="row">
      <div class="btn-group">
          <label class="btn btn-primary" name="likeParams" btnRadio="Likers"
              [(ngModel)]="likeParams" (click)="loadUsers()" role="button">Member who like me</label>
          <label class="btn btn-primary" name="likeParams" btnRadio="Likees"
              [(ngModel)]="likeParams" (click)="loadUsers()" role="button">Member who I like</label>
      </div>
  </div>
  <div class="row">
      <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
          <app-member-card [user]="user"></app-member-card>
      </div>
  </div>  
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [(ngModel)]="pagination.currentPage"
              [itemsPerPage]="pagination.pageSize"
              (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
