<div class="container mt-3">
  <div class="row">
    <h1>{{user.knownAs}}'s profile</h1>
  </div>
  <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{user?.photoUrl || '../../../assets/user.png'}}" alt="{{user?.knownAs}}">
          <div class="card-body">
            <strong>Location:</strong>
            <p>{{user?.city}}, {{user?.country}}</p>
            <strong>Age:</strong>
            <p>{{user?.age}}</p>
            <strong>Last activate:</strong>
            <p>{{user?.lastActive | timeAgo}}</p>
            <strong>Member since:</strong>
            <p>{{user?.created | date: 'dd-MM-yyyy'}}</p>
          </div>
          <div class="card-footer">
            <div class="btn-group d-flex">
              <button class="btn btn-primary w-100">Like</button>
              <button class="btn btn-success w-100">Message</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset>
            <tab heading="About {{user?.knownAs}}">
              <h4>Description</h4>
              <p>{{user?.introduction}}</p>
              <h4>Looking for</h4>
              <p>{{user?.lookingFor}}</p>
            </tab>
            <tab heading="Interests">
              <h4>Interests</h4>
              <p>{{user?.interests}}</p>
            </tab>
            <tab heading="Photos">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </tab>            
            <tab heading="Messages">
                <p>Messages will be here</p>
              </tab>
          </tabset>
        </div>
      </div>
  </div>  
</div>