<div *ngIf="!registerMode" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Album example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <a href="#" class="btn btn-primary my-2" (click)="registerModeToggle()">Register</a>
      <a href="#" class="btn btn-secondary my-2">Secondary action</a>
    </p>
  </div>
</div>

<div *ngIf="registerMode" class="container py-5">
  <div class="row justify-content-md-center">
    <div class="col-md-5">
      <app-register [values]="values" (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
  </div>
</div>