<!-- <form #registerForm="ngForm" (ngSubmit)="register()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
  <hr />
  <div class="form-group">
    <label class="control-label" style="margin-right:10px">I am a: </label>
    <label class="radio-inline">
      <input class="mr-3" type="radio" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="female" formControlName="gender">Female
    </label>
  </div>
  <div class="form-group">
    <label for="username" class="sr-only">Username</label>
    <input type="text" 
      [ngClass]="{'is-invalid': registerForm.get('username').errors
        && registerForm.get('username').touched}"
      formControlName="username" 
      class="form-control" 
      placeholder="Username">
    <div class="invalid-feedback">
      Username is required
    </div>
  </div>
  <div class="form-group">
    <label for="knownAs" class="sr-only">Known as</label>
    <input type="text" 
      [ngClass]="{'is-invalid': registerForm.get('knownAs').errors
        && registerForm.get('knownAs').touched}"
      formControlName="knownAs" 
      class="form-control" 
      placeholder="Known as">
    <div class="invalid-feedback">
      Known as is required
    </div>
  </div>
  <div class="form-group">
    <label for="dateOfBirth" class="sr-only">Date of birth</label>
      <input type="text"
        [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors 
          && registerForm.get('dateOfBirth').touched}" 
        placeholder="Date of Birth"
        class="form-control"
        formControlName="dateOfBirth" 
        bsDatepicker
        [bsConfig]="bsConfig">
    <div 
      class="invalid-feedback" 
      *ngIf="registerForm.get('dateOfBirth').touched 
        && registerForm.get('dateOfBirth').hasError('required')">
        Date of Birth is required
    </div>
  </div>
  <div class="form-group">
    <label for="city" class="sr-only">City</label>
    <input 
      [ngClass]="{'is-invalid': registerForm.get('city').errors 
        && registerForm.get('city').touched}" 
      class="form-control"
      placeholder="City" 
      formControlName="city">
    <div 
      class="invalid-feedback" 
      *ngIf="registerForm.get('city').touched 
        && registerForm.get('city').hasError('required')">
      City is required
    </div>
  </div>
  <div class="form-group">
    <label for="country" class="sr-only">Country</label>
    <input [ngClass]="{'is-invalid': registerForm.get('country').errors && registerForm.get('country').touched}" class="form-control"
      placeholder="Country" formControlName="country">
    <div class="invalid-feedback" *ngIf="registerForm.get('country').touched && registerForm.get('country').hasError('required')">Country is required</div>
  </div>
  <div class="form-group">
    <label for="password" class="sr-only">Password</label>
    <input type="password" 
      [ngClass]="{'is-invalid': registerForm.get('password').errors
        && registerForm.get('password').touched}"
      formControlName="password" 
      class="form-control" 
      placeholder="Password">      
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required')
      && registerForm.get('password').touched">
      Password is required
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength')
      && registerForm.get('password').touched">
      Password must have a minimum 4 characters
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength')
      && registerForm.get('password').touched">
      Password must have a maximum 8 characters
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword" class="sr-only">Password</label>
    <input type="password" 
      [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors
        && registerForm.get('password').touched
        || registerForm.get('confirmPassword').touched
        && registerForm.hasError('mismatch')}"
      formControlName="confirmPassword" 
      class="form-control" 
      placeholder="Confirm password">   
    <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required')
      && registerForm.get('confirmPassword').touched">
      Password is required
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').touched
      && registerForm.hasError('mismatch')">
      Confirm password must be the same as the password
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" [disabled]="!registerForm.valid" type="submit">Register</button>
  <div class="mt-3 mb-3 text-center">
    <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
  </div>
</form>